<!-- about me with Stats -->
<div
  class="max-w-[85rem] lg:mt-auto px-4 py-8 sm:px-6 lg:px-8 lg:py-14 mx-auto"
  *transloco="let t; read: 'home.aboutMe'"
>
  <div class="flex flex-col gap-10">
    <h1
      id="title"
      class="dark:text-white text-black font-fira-code text-center mb-10 text-2xl md:text-3xl lg:text-4xl font-bold bg-clip-text"
    >
      <span class="text-blue-500">1.0</span> {{ t("title") }}
    </h1>
    <!-- Grid -->
    <div
      id="grid"
      class="flex flex-col lg:flex-row lg:items-center lg:space-x-8"
    >
      <div class="text-center mt-10 mb-16 lg:mt-0 lg:mb-0 lg:flex-shrink-0">
        <picture>
          <source type="image/png" srcset="../../../assets/mejry.png" />
          <img
            class="rounded-3xl w-60 h-60 mx-auto lg:w-60 lg:h-60"
            ngSrc="../../../assets/mejry.png"
            width="60"
            height="60"
            alt=" Description"
            priority
          />
        </picture>
      </div>
      <!-- End Col -->

      <div>
        <!-- Blockquote -->
        <blockquote class="overflow-auto">
          <p
            class="text-lg bg-technology p-6 rounded-3xl font-normal lg:text-2xl lg:leading-normal text-gray-200"
          >
            {{ t("description") }}
          </p>
        </blockquote>
        <!-- End Blockquote -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
    <!-- github api Section -->
    
    <div
      class="md:w-full w-96  inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]"
    >
      <ul
        class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
      >
        <li>
          <img
            src="https://img.icons8.com/?size=100&id=6SWtW8hxZWSo&format=png&color=000000"
            alt="Angular"
          />
        </li>
        <li>
          <img
            src="https://img.icons8.com/?size=100&id=90519&format=png&color=000000"
            alt="Spring boot"
          />
        </li>
        
        <li>
          <img
            src="https://img.icons8.com/?size=100&id=UFXRpPFebwa2&format=png&color=000000"
            alt="MySQL"
          />
        </li>
        <li>
          <img
            src="https://img.icons8.com/?size=100&id=NfbyHexzVEDk&format=png&color=000000"
            alt="React"
          />
        </li>
         <li>
          <img
            src="https://img.icons8.com/?size=100&id=78295&format=png&color=000000"
            alt="React"
          />
        </li>
        
        
        
       
      </ul>
      <ul
        class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
        aria-hidden="true"
      >
        <li>
          <img
            src="https://img.icons8.com/?size=100&id=6SWtW8hxZWSo&format=png&color=000000"
            alt="Angular"
          />
        </li>
        <li>
          <img
            src="https://img.icons8.com/?size=100&id=90519&format=png&color=000000"
            alt="Spring boot"
          />
        </li>
       
        <li>
          <img
            src="https://img.icons8.com/?size=100&id=UFXRpPFebwa2&format=png&color=000000"
            alt="MySQL"
          />
        </li>
        <li>
          <img
            src="https://img.icons8.com/?size=100&id=NfbyHexzVEDk&format=png&color=000000"
            alt="React"
          />
        </li>
       
        <li>
          <img
            src="https://img.icons8.com/?size=100&id=78295&format=png&color=000000"
            alt="symfony"
          />
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End about me with Stats -->
